@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  .dark ::-webkit-scrollbar {
    background-color: #1a202c;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: #4a5568;
  }

  .slick-scroll-bar::-webkit-scrollbar {
    width: 4px;
    @apply rounded-sm;
  }

  .slick-scroll-bar::-webkit-scrollbar-thumb {
    @apply rounded-sm;
  }

  .pause {
    animation-play-state: paused;
  }
}
